body {
    margin: 1em;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    width: 50rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}

#desc {
    height: 3em;
    width: 25em;
}

#blog_entry {
    border: 2px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}

#blog_date, #blog_title, #blog_content {
    margin-left: 1em;
}